/* imports */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

/* universal styles */
:root {
  --primary-color: #023E8A;
  --secondary-color: #0077B6;
  --tertiary-color: #03045E;
  --light-blue: #CAF0F8;

  font-family: 'Quicksand', sans-serif;
  background-color: var(--tertiary-color)
}


/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  color: var(--light-blue);
  font-weight: 500;
}

header button {
  background-color: var(--secondary-color);
  color: var(--light-blue);
}

/* button */
button {
  height: 25%;
  padding: 1% 3%;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
}